# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Andrey Schipilo (schipa)
# Maxim Sklyarov (maxim-sklyarov)
# Harish P (harish-p4)

# for all files:
* @schipa @maxim-sklyarov @harish-p4 @gillt1
